* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    width: 200px;
    height: 500px;
}

ul > li > ul {
    display: none;
}

ul > li:hover > ul {
    display: block;
    height: 100%;
}

.opcion {
    background-color: darkred;
    color: white;
}

.subOpcion {
    padding-left: 20px;
    background-color: gold;
    color: black;
}

.subOpcion:active {
    background-color: darkgoldenrod;
    color: white;
}

.ultimaOpcion {
    background-color: lightgray;
    color: black;
}

#op2 {
    padding-left: 40px;
}

#op3 {
    padding-left: 60px;
}

.ventanaModal {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: silver;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.ventanaModal:target {
    opacity: 1;
    pointer-events: auto;
    background: none;
}

.ventanaModal > div {
    width: 480px;
    position: relative;
    margin: 10% auto;
    padding: 5px;
    border-radius: 10px;
    background: lightgray;
}

.botonCerrar:hover {
    background: blue;
    color:  white;
}