* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: royalblue;
    flex-direction: row;
    flex-wrap: nowrap;
/*  flex-flow: row nowrap;  */
    justify-content: space-evenly;
    align-items: center;
}

.caja {
/*  width: 100px;   */
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
}
/*
#caja4 {
    align-self: flex-start;
}   */

#caja1 { flex-grow: 1; }
#caja2 { flex-grow: 1; }
#caja3 { flex-grow: 4; }
#caja4 { flex-grow: 4; }